body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-black;
}

.heading--primary{
  font-size: 18px;
}

.heading--secondary{
  font-size: 16px;
}

.body_text_1{
  font-size: 12px;
}

.title{
  font-size: 11px;
}

.body_text_2{
  font-size: 9px;
}

