/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

main {
  flex: auto; }

footer {
  margin-top: auto; }

ul {
  list-style: none; }

li {
  list-style-type: none; }

textarea {
  overflow: auto;
  resize: none;
  outline: none; }

a,
a:hover,
a:visited {
  color: #933DB8;
  text-decoration: none; }

/* Solid border */
hr.solid {
  border-top: 1px solid #555; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cecece;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cecece; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cecece; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #000; }

.heading--primary {
  font-size: 18px; }

.heading--secondary {
  font-size: 16px; }

.body_text_1 {
  font-size: 12px; }

.title {
  font-size: 11px; }

.body_text_2 {
  font-size: 9px; }

.row-gap--sm {
  width: 1rem; }

.column-gap--sm {
  height: 1rem; }

.row-gap--md {
  width: 3.5rem; }

.column-gap--md {
  height: 3.5rem; }

.row-gap--lg {
  width: 7rem; }

.column-gap--lg {
  height: 7rem; }

.flex {
  display: flex;
  align-items: center; }
  .flex--row {
    flex-direction: row; }
  .flex--column {
    flex-direction: column; }

.total_balance--box {
  justify-content: space-between; }

[decrease] .history__pair--1,
[increase] .history__pair--2 {
  color: #F9A90A; }

[increase] .history__type,
[increase] .history__amount--1,
[increase] .history__amount--2 {
  color: #53930F !important; }

[decrease] .history__type,
[decrease] .history__amount--1,
[decrease] .history__amount--2 {
  color: #BF1717 !important; }

.history__amount > *:first-child {
  color: #BF1717; }

.history__amount > *:last-child {
  color: #53930F; }

.history__status {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
  color: #555;
  background-color: #eee; }

.history__status[success] {
  color: #53930F;
  background-color: rgba(83, 147, 15, 0.2); }

.history__status[error] {
  background-color: rgba(191, 23, 23, 0.2);
  color: #BF1717; }

.history__date, .history__date--title, .history__pair, .history__pair--title, .history__type, .history__type--title, .history__fee, .history__fee--title, .history__status, .history__status--title {
  width: 10rem; }

.history__price, .history__price--title, .history__amount, .history__amount--title {
  width: 12rem; }

.overview__total-yield, .overview__total-yield--title, .overview__reward-coins, .overview__reward-coins--title, .overview__volumn, .overview__volumn--title {
  width: 9rem; }

.overview__volumn--title > *:not(:last-child) {
  margin-right: 0.5rem; }

.overview__pool, .overview__pool--title {
  width: 12rem; }

.overview__liquidity, .overview__liquidity--title {
  width: 20rem; }

.overview__pool, .overview__volumn--title, .overview__total-yield, .overview__reward-coins {
  display: flex;
  flex-direction: row; }

.overview__liquidity {
  display: flex;
  flex-direction: column; }

.overview__pool--icons {
  position: relative;
  min-width: 4rem; }
  .overview__pool--icons > * {
    top: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-image: url(../image/usdt-sm.png);
    background-position: center; }
    .overview__pool--icons > *:last-child {
      background-image: url(../image/bitcoin-sm.png);
      position: absolute;
      left: 1.5rem; }

.overview__pool--text, .overview__liquidity--total, .overview__volumn--data {
  font-size: 1.2rem;
  color: #555; }

.overview__liquidity--composition {
  font-size: 0.9rem !important;
  color: #9b9b9b; }

.overview__total-yield {
  color: #555; }

.overview__total-yield[increase] > .overview__total-yield--data {
  color: #53930F; }

.overview__total-yield[decrease] > .overview__total-yield--data {
  color: #BF1717; }

.overview__reward-coins--icon {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url(../image/tidetime-sm.png);
  background-position: center;
  margin-right: 0.5rem; }

.scaffold {
  padding: 1rem 1rem;
  width: 100vw;
  height: 100vh;
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column; }
  .scaffold__top, .scaffold__bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex: 1;
    height: 50%; }
    .scaffold__top > *:not(:last-child), .scaffold__bottom > *:not(:last-child) {
      margin-right: 1rem; }
    .scaffold__top > *, .scaffold__bottom > * {
      height: 100%; }
  .scaffold--total_balance {
    flex: 2;
    width: 20%; }
  .scaffold--pool_overview {
    flex: 3;
    width: 30%; }
  .scaffold--market {
    flex: 2;
    width: 20%; }
  .scaffold--history {
    flex: 3;
    width: 30%; }
  .scaffold--transaction {
    flex: 4;
    width: 40%; }

.transaction {
  position: relative;
  height: 100%; }
  .transaction, .transaction__detail, .transaction__value, .transaction__value--icon {
    display: flex;
    flex-direction: row; }
  .transaction__left {
    flex: 4;
    overflow: scroll; }
  .transaction__right {
    flex: 3; }
  .transaction__left, .transaction__right {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: flex-start;
    justify-content: space-between; }
  .transaction > .transaction__right {
    background-color: #f7f8f9; }
  .transaction__title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #555; }
  .transaction__hint {
    color: #9b9b9b;
    font-size: 0.9rem;
    line-height: 1.1; }
  .transaction__swap-icon {
    padding: 1rem;
    border-radius: 3px;
    color: #fff;
    background-color: #933DB8;
    transform: rotateZ(90deg);
    align-self: center; }
    .transaction__swap-icon > i {
      font-weight: 500;
      color: #fff;
      font-size: 1.8rem; }
  .transaction__container {
    width: 100%;
    flex: 1; }
  .transaction__detail {
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 1rem; }
  .transaction__detail-title {
    color: #9b9b9b;
    border-bottom: 1px dotted; }
  .transaction__detail-value {
    color: #555; }
  .transaction__conclusion {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .transaction__conclusion-title {
    color: #555; }
  .transaction__conclusion-value {
    color: #555; }
  .transaction__detail[increase] .transaction__detail-value {
    color: #53930F; }
  .transaction__detail[decrease] .transaction__detail-value {
    color: #BF1717; }
  .transaction__button {
    width: 100%; }
  .transaction__title-box {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .transaction__title-box > .transaction__title {
    font-size: 1.2rem; }
  .transaction__value--icon {
    position: relative;
    min-width: 6rem; }
    .transaction__value--icon > * {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      background-image: url(../image/usdt-sm.png);
      background-position: center; }
      .transaction__value--icon > *:last-child {
        background-image: url(../image/bitcoin-sm.png);
        position: absolute;
        left: 2rem; }
  .transaction__value--single-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-image: url(../image/bitcoin-sm.png);
    background-position: center;
    margin-right: 1rem; }
  .transaction__value {
    align-items: center; }
  .transaction__value--text {
    font-size: 1.6rem;
    margin-right: 1rem; }
  .transaction--liquidity {
    height: 100%; }

.pannel {
  display: flex;
  flex-direction: column;
  height: 100%; }

.tabset {
  height: 100%; }
  .tabset__tab {
    cursor: pointer; }
    .tabset__tab--icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      border: 1px solid #cecece;
      border-radius: 100%; }
      .tabset__tab--icon > i {
        font-weight: 300;
        color: #cecece; }
    .tabset__tab--content {
      margin-bottom: 1rem;
      color: #555; }
    .tabset__tab--detail {
      color: #555; }
  .tabset__selection {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .tabset__selection > *:not(:last-child) {
      margin-bottom: 1rem; }
  .tabset--radio {
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
    width: 100%;
    display: block; }
  .tabset__radio {
    display: flex;
    flex-direction: row;
    padding: 1rem 0; }
  .tabset__radio > .tabset__icon {
    position: relative;
    display: inline-block;
    margin-right: 1rem; }
    .tabset__radio > .tabset__icon:not(:last-child) {
      margin-left: 1rem; }
  .tabset__radio > .tabset__icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border: 1px solid #555;
    border-radius: 100%; }
  .tabset--pannel > .tabset__tab {
    text-align: center;
    display: inline-block; }
    .tabset--pannel > .tabset__tab:not(:last-child) {
      margin-right: 8px; }
  .tabset--pannel > .tabset__tab-controller:checked + .tabset__tab {
    background-color: #933DB8;
    color: #fff; }
  .tabset__tab-controller:checked + .tabset--radio {
    border: 1px solid #933DB8; }
  .tabset__tab-controller:checked + .tabset--radio > .tabset__tab--icon {
    border: 1px solid #933DB8;
    background-color: #933DB8; }
    .tabset__tab-controller:checked + .tabset--radio > .tabset__tab--icon > i {
      color: #fff; }
  .tabset__tab-controller:checked + .tabset__tab > .tabset__radio > .tabset__icon::before {
    border: 1px solid #F9A90A; }
  .tabset__tab-controller:checked + .tabset__tab > .tabset__radio > .tabset__icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 0.6rem;
    background: #F9A90A;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .tabset--liquidity-type > .tabset__tab-controller:checked + .tabset__tab,
  .tabset--liquidity-option > .tabset__tab-controller:checked + .tabset__tab {
    color: #F9A90A; }
  .tabset--liquidity-option {
    position: relative; }
  .tabset--liquidity-option > .tabset__tab {
    position: absolute;
    top: 4.7rem;
    left: 28.4rem;
    z-index: 10; }
    .tabset--liquidity-option > .tabset__tab:nth-child(2) {
      left: 22rem; }
  .tabset__pannel {
    display: none; }
  .tabset__pannels, .tabset__pannel {
    height: 100%; }
  .tabset--pannel > .tabset__pannels {
    height: 89%; }
  .tabset--liquidity-type {
    height: 84%; }
  .tabset--liquidity-type > .tabset__pannels {
    height: 80%; }
  .tabset > .tabset__tab-controller {
    display: none; }
  .tabset > .tabset__tab-controller:first-child:checked ~ .tabset__pannels > .tabset__pannel:first-child,
  .tabset > .tabset__tab-controller:nth-child(3):checked ~ .tabset__pannels > .tabset__pannel:nth-child(2),
  .tabset > .tabset__tab-controller:nth-child(5):checked ~ .tabset__pannels > .tabset__pannel:nth-child(3),
  .tabset > .tabset__tab-controller:nth-child(7):checked ~ .tabset__pannels > .tabset__pannel:nth-child(4),
  .tabset > .tabset__tab-controller:nth-child(9):checked ~ .tabset__pannels > .tabset__pannel:nth-child(5),
  .tabset > .tabset__tab-controller:nth-child(11):checked ~ .tabset__pannels > .tabset__pannel:nth-child(6) {
    display: block; }

.asset__action {
  background-color: #f7f8f9;
  padding: 1rem 1rem;
  justify-content: flex-end; }
  .asset__action > *:not(:last-child) {
    margin-right: 1rem; }

.asset__icon {
  width: 40px;
  height: 40px;
  border-radius: 100%; }
  .asset__icon.bitcoin {
    background-image: url(../image/bitcoin.png);
    background-position: center;
    background-size: cover; }

label[for="asset_tile"] {
  display: block; }

.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px; }
  .card__content {
    height: 100%;
    overflow: scroll; }
  .card--padding {
    padding: 2rem 1rem; }

.button {
  border-radius: 3px;
  position: relative;
  background-color: #ececec;
  color: #555; }
  .button--large {
    width: 96px;
    height: 36px; }
  .button--small {
    width: 64px;
    height: 30px; }
  .button__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .button__text--large {
      font-size: 1.6rem; }
    .button__text--small {
      font-size: 1.2rem; }
  .button[selected] {
    background-color: #933DB8;
    color: #fff; }
  .button--secondary {
    background-color: #F9A90A;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    cursor: pointer; }
  .button--primary {
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: #ececec;
    color: #555;
    min-width: 9rem;
    padding: 1rem 0; }
  .button--text {
    min-width: 6.4rem;
    text-align: center;
    padding: 1rem 0;
    color: #555;
    font-size: 1.2rem;
    display: inline-block; }
  .button--dropdown {
    background-color: #F9A90A;
    padding: .65rem 1rem;
    text-align: center;
    color: #fff;
    cursor: pointer; }

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  color: #555 !important;
  -webkit-text-fill-color: #555 !important;
  outline: none;
  padding: 1rem;
  width: 100%;
  border: 0;
  border-radius: 3px;
  font-size: 1.6rem; }

.input__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem; }

.input__title {
  color: #555; }

.input__subtitle {
  color: #9b9b9b; }
  .input__subtitle--main {
    color: #555; }

.input__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 1rem;
  background-color: #fff; }

.input[forbidden] .input__content,
.input[forbidden] .input__input {
  background-color: #eee;
  -webkit-box-shadow: 0 0 0 30px #eee inset; }

.input[max] .input__suffix--hint {
  opacity: 1; }

.input__suffix {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .input__suffix--hint {
    color: #F9A90A;
    opacity: 0; }
  .input__suffix--divider {
    color: #555;
    padding: 0 1rem; }
  .input__suffix--symbol {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .input__suffix--symbol > img {
      width: 4rem;
      height: 4rem; }
    .input__suffix--symbol p {
      font-size: 1.6rem;
      min-width: 4.5rem; }

.input__error-message {
  opacity: 0;
  color: #BF1717; }

.input[error] .input__error-message {
  opacity: 1; }

.input[focus] .input__field {
  border: 1px solid #933DB8; }

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem; }
  .searchbar__container {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    background-color: #eee;
    align-items: center;
    padding: 0 1rem; }
  .searchbar__input {
    max-width: 50rem;
    font-size: 1.2rem !important; }
  .searchbar__icon > i {
    color: #9b9b9b;
    font-size: 1.8rem;
    vertical-align: center; }
  .searchbar__title {
    margin-bottom: 0.5rem;
    color: #9b9b9b; }
  .searchbar__box {
    border-bottom: 1px solid #9b9b9b;
    color: #555; }
  .searchbar__option {
    display: flex;
    flex-direction: row; }
  .searchbar__dropdown--line > i {
    color: #9b9b9b; }

.table {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative; }
  .table__title-bar, .table__data-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
  .table__data-bar {
    padding: 0.5rem 0; }
  .table__data-bar:hover {
    background-color: #eee; }
  .table__title {
    font-size: 1.2rem;
    color: #555; }
  .table__content {
    flex: 1; }
  .table__data-bar, .table__title-bar {
    width: max-content; }

input#datepicker {
  padding: 0;
  font-size: 1.2rem;
  width: 14rem;
  line-height: 1.7; }

