.list {
  height: calc(70vh / 2);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.8rem;
  margin: 1rem 0;
  flex: auto;
}

.header-bar {
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
 
}

.content {
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #b9b9b9;
}
