.list {
  height: calc(70vh / 2);
  display: flex;
  flex-direction: column;
}

.list > .title {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.container {
  overflow: hidden;
  background-color: rgb(40, 40, 60);
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.title-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 48, 71);
  padding: 1rem;
  /* justify-content: space-between; */
  gap: 2rem;
}

.hint {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile {
  display: flex;
  flex-direction: row;
  background-color: #191928b3;
  border-bottom: #2b2b3d solid 1px;
  border-top: #2b2b3d solid 1px;
  /* justify-content: space-between; */
  align-items: center;
  padding: 5px 1rem;
  gap: 2rem;
  min-height: 4.83rem;
}
.tile:hover {
  opacity: 0.7;
}

.title-box:last-child {
  margin-right: 14rem;
}
.action {
  /* flex: auto; */
  min-width: 12rem;
}

.button {
  border-radius: 20px;
  background-color: rgb(48, 48, 71);
  border-top: 1px solid #474758b3;
  border-bottom: 1px solid #474758b3;
  padding: 5px 1rem;
  width: fit-content;
  /* width: 6rem; */
  text-align: center;
  margin: 0 auto;
  cursor: pointer;

  display: block;
}
.button:hover {
  background: linear-gradient(
    to left,
    rgb(251, 129, 58, 1),
    rgba(252, 50, 86, 1)
  );
}
.group {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  gap: 5px;
}
.title-box:first-child {
  flex: auto;
  text-align: start;
}

.title-box {
  width: 6rem;
  text-align: end;
}

.data {
  width: 6rem;
  text-align: end;
}
.data:nth-child(2),
.data:nth-child(4),
.data:nth-child(5),
.title-box:nth-child(2),
.title-box:nth-child(4),
.title-box:nth-child(5) {
  width: 10rem;
}

.group .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
}

.icon > img {
  height: 100%;
  width: 100%;
}

.data.increase::before {
  content: "\2191";
}

.data.increase {
  color: #27b127;
}
.data.decrease::before {
  content: "\2193";
}

.data.decrease {
  color: #b12727;
}

@media (max-width: 600px) {
  .title-box:nth-child(2),
  .data:nth-child(2),
  .title-box:nth-child(3),
  .data:nth-child(3) {
    display: none;
  }
}
