.swap {
  height: calc(100vh - 4rem);
  margin: 2rem 0;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: auto;
  background-color: #d2dbe2;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 85rem;
}
.main {
  display: flex;
  flex-direction: column;
  min-width: 50rem;
  flex: 1;
}
.sub {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.details > * {
  flex: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    min-width: 0rem;
    max-width: calc(100vw - 4rem)
  }
  .main {
    min-width: 0rem;
  }
}
