.approve-button-container {
  margin-bottom: 1rem;
}
.swap {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem;
  background-color: #282841b3;
  border-radius: 10px;
}

.hint {
  margin: 1rem 0;
}

.button {
  margin-top: 4rem;
}

