.earn {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  margin: 2rem 0;
  overflow: hidden;
}

.earn > *:last-child > *:first-child {
  margin: 0 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 2rem;
}
.title {
  width: 100%;
  font-size: 1.8rem;
}

@media (min-width: 940px) {
  /* .earn {
    width: 90rem;
    margin: 0 auto;
  } */
  .header {
    width: 92rem;
    margin: 2rem auto;
  }
  .earn > *:last-child > *:first-child {
    margin: 0;
  }
}
