.asset {
  &__action {
      background-color: $color-grey-light-1;
      padding: 1rem 1rem;
      justify-content: flex-end;
      & > *:not(:last-child){
          margin-right: 1rem;
      }
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    &.bitcoin{
        background-image: url(../resources/images/bitcoin.png);
        background-position: center;
        background-size: cover;
    }
  }
}

label[for="asset_tile"] {
  display: block;
}
