.button {
  border-radius: 3px;
  position: relative;

  background-color: $color-grey-light-3;
  color: $color-grey-dark-2;

  &--large {
    width: 96px;
    height: 36px;
  }
  &--small {
    width: 64px;
    height: 30px;
  }
  &__text {
    text-align: center;
    @include absCenter;
    &--large {
      font-size: $default-font-size;
    }
    &--small {
      font-size: $body-font-size-1;
    }
  }
  &[selected] {
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    background-color: $color-secondary;
    padding: 1rem 0;
    text-align: center;
    color: $color-white;
    cursor: pointer;
  }
  &--primary {
    border-radius: 3px;
    font-size: $body-font-size-1;
    background-color: $color-grey-light-3;
    color: $color-grey-dark-2;
    min-width: 9rem;
    padding: 1rem 0;
  }
  &--text {
    min-width: 6.4rem;
    text-align: center;
    padding: 1rem 0;
    color: $color-grey-dark-2;
    font-size: $body-font-size-1;
    display: inline-block;
  }
  &--dropdown {
    background-color: $color-secondary;
    padding: .65rem 1rem ;
    text-align: center;
    color: $color-white;
    cursor: pointer;
  }
}
