.table {
  height: calc(70vh / 2);
  min-height: 35vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.8rem;
  margin: 1rem 0;
  margin-top: 2rem;
}

.header-bar {
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
}

.container {
  overflow: hidden;
  background-color: rgb(40, 40, 60);
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.title-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 48, 71);
  padding: 1rem 2rem;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
}

.title-bar {
  padding-right: 9rem;
}

.history .title-bar {
  padding-right: 2rem;
}

.tile {
  display: flex;
  flex-direction: row;
  background-color: #191928b3;
  border-bottom: #2b2b3d solid 1px;
  border-top: #2b2b3d solid 1px;
  /* justify-content: space-between; */
  align-items: center;
  padding: 5px 2rem;
  gap: 2rem;
  min-height: 4.3rem;
}

.tile.pending,
.tile.pending > * {
  opacity: 0.6;
  font-style: italic;
  align-items: center;
}

.tile.pending {
  cursor: not-allowed;
}

.pending .title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.pending .data:first-child {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.pending .data:first-child > *:last-child {
  flex: auto;
}
.tile:hover {
  opacity: 0.7;
}
.title-box,
.data {
  text-align: end;
}

.token .title-box,
.token .data {
  min-width: 11.3rem;
}

.invest .title-box,
.invest .data {
  min-width: 8rem;
}

.title-box:nth-child(2),
.group {
  text-align: start;
  flex: auto;
}

.history .title-box,
.history .data {
  min-width: 14rem;
}

.history .data.expand {
  flex: auto;
  text-align: left;
}

.hint {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background-color: rgb(48, 48, 71);
  border-top: 1px solid #474758b3;
  border-bottom: 1px solid #474758b3;
  padding: 5px 1rem;
  width: fit-content;
  /* width: 6rem; */
  text-align: center;
  margin: 0 auto;
  cursor: pointer;

  display: block;
}

.button:hover {
  background: linear-gradient(
    to left,
    rgb(251, 129, 58, 1),
    rgba(252, 50, 86, 1)
  );
}

.history .button.active {
  /* color: #2266a5; */
  background: linear-gradient(to left, rgb(251, 129, 58), rgba(252, 50, 86, 1));
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.data.increase::before {
  content: "\2191";
}

.data.increase {
  color: #27b127;
}
.data.decrease::before {
  content: "\2193";
}

.data.decrease {
  color: #b12727;
}

.group .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
}

.icon > img {
  height: 100%;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons > .icon:last-child {
  transform: translateX(-1rem);
}
