.overview {
  height: 100%;
  background-color: #d2dbe2;
  padding: 1rem 2rem;
}

.header {
  font-size: 2.4rem;
}

.summary {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem;
}

.group,
.data {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.change.increase::before {
  content: "\2191";
}

.change.increase{
  color: #b12727;
}
.change.decrease::before {
  content: "\2193";
}
