@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  color: #555;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  cursor:pointer; 
  color: #555;
}

.heading-primary {
  font-size: 2.4rem;
}

.subtitle {
  font-size: 1.6rem;
}

button {
  border: none;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none;
  outline: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  color: #555 !important;
  -webkit-text-fill-color: #555 !important;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #dddddd;
}

.dropdown input {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.dropdown input:focus {
  border: 1px solid #c99400 !important;
}
