.create-pool {
  flex: auto;
  z-index: 1;
  background-color: #fff;
  /* width: calc(100vw - 2rem); */
  height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 1rem;
}

.sub {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
}

.radio {
  margin: 4rem 4rem 1rem 4rem;
  width: 100%;
}

.button {
  width: calc(100% - 4rem);
  margin: 6rem 1rem;
}

.icon {
  text-align: center;
  margin: 2rem 0;
}

.icon > div {
  background-color: #ddd;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 2;
}

@media (min-width: 700px) {
  .create-pool {
    width: 100%;
    height: 40rem;
    flex-direction: row;
  }

  .create-pool > * {
    /* flex: 1fr; */
    width: 100%;
  }
  .sub {
    justify-content: space-between;
    background-color: #fafafa;
    padding-top: 2rem;
  }
  .radio {
    margin-top: 0rem;
  }
}
