// COLORS
$color-primary-light: #5ae2d9;
$color-primary: #933DB8;
$color-primary-dark: #3bb3ab;

// $color-secondary-light: #ffb900;
$color-secondary: #F9A90A; // reveive
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary: #ff5730; // sent
// $color-tertiary-dark: #5643fa;

// $color-quaternary: #7ED321; //

$color-grey-light-1: #f7f8f9; // background color for account
$color-grey-light-2: #eee; // dividerColor,
$color-grey-light-3: #ececec; // progressbar background

$color-grey-dark-1: #9b9b9b; // subtitle,
$color-grey-dark-2: #555; // pending,title
$color-grey-dark-3: #cecece;

$color-white: #fff;
$color-black: #000;
$color-error: #BF1717; // failed
$color-success: #53930F; // success

// FONT
$default-font-size: 1.6rem;
$heading-primary-font-size: 1.8rem;
$body-font-size-1: 1.2rem;
$body-font-size-2: .9rem;
$title-font-size-2: 1.1rem;

//
$header-height: 16rem;
$appbar-height: 5.6rem;
$bottom-navigator: 5.6rem;

// Alpha
$alpha: 0.14;
