.button {
  font: inherit;
  border: 1px solid #c99400;
  background: #c99400;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.4rem;
}

.button:hover,
.button:active {
  background: #d39c04;
  border-color: #d39c04;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ddd;
  border: 1px solid #ddd;
  cursor: not-allowed;
}
