.button {
  font: inherit;
  border: 1px solid #ddd;
  background: #ddd;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.4rem;
}

.button:hover,
.button:active {
  background: #c99400;
  border-color: #c99400;
}

.button:focus {
  outline: none;
}
