.icon-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .icon-button__icon {
    width: 10rem;
    height: 10rem;
  
    display: flex;
    flex-direction: column;
  }
  
  .icon-button__icon > img {
    width: 100%;
    height: 100%;
  }
  
  .icon-button__name {
    color: #555;
  }