.pannel {
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* padding: 1rem 2rem; */
  padding: 1rem 0;
}
.pannel .input > input {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset;
}
/* 
.shrink{
  margin: 0 1rem;
} */
.select {
  overflow: scroll;
  /* overflow: hidden; */
  flex: auto;
  display: flex;
  flex-direction: column;
  /* padding-left: 1rem; */
  padding: 1rem;
  height: 100%;
}

.content,
.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
}

.page .select {
  padding: 0;
  /* overflow: hidden; */
}

.page .container {
  overflow: hidden;
  border-radius: 1rem;
}

.page .content {
  overflow: scroll;
  background-color: #fff;
}

.page .search-bar > * {
  padding: 0;
  display: none;
}

.header {
  margin-top: 1.5rem;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar > *:first-child {
  flex: 1;
}

.hint-container {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  align-items: center;
}

.container > .hint {
  text-align: center;
  font-size: 1.6rem;
}
