.header{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
}
.header > .leading{
    font-size: 2.4rem;
    margin-right: 1rem;
}
.header > .title{
flex: auto;
text-align: left;
font-size: 2.4rem;
}
.header > .action{

}