.list {
  height: calc(70vh / 2);
  display: flex;
  flex-direction: column;
  min-width: 44.8rem;
}

.header {
  font-size: 1.8rem;
  margin: 1rem 0;
  flex: auto;
}

.header-bar {
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
}

.button {
  cursor: pointer;
}

.button.active,
.button:hover {
  color: #2266a5;
}

.content {
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  background-color: #bcbfc8;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #b9b9b9;
  gap: 1 rem;
}
.data,
.title-box {
  text-align: end;
}

.data:first-child,
.title-box:first-child {
  min-width: 15rem;
  text-align: start;
}

.data:last-child,
.title-box:last-child {
  min-width: 7rem;
}

.data.timestamp > * {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #949494;
}

.data.timestamp > *:first-child {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
}

.title-box:nth-child(2),
.title-box:nth-child(3),
.data:nth-child(2),
.data:nth-child(3) {
  min-width: 10rem;
}

.hint {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile {
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  border-bottom: #cccccc solid 1px;
  border-top: #ffffff solid 1px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  gap: 1rem;
  /* min-height: 4.3rem; */
}
.tile:hover {
  background-color: #eeeeeecc;
}

.tile.pending,
.tile.pending > * {
  opacity: 0.6;
  font-style: italic;
  align-items: center;
}

.pending .data:first-child {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.pending .data:first-child > *:last-child {
  flex: auto;
}
