.input {
  /* width: 100%; */
}
.label {
  font-size: 1.2rem;
}
.detail {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.input-controller {
  position: relative;
}

.input-controller > .input-hint {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
  font-size: 1.6rem;
  color: #c99400;
  display: none;
}
.input-controller > .input-hint.show {
  display: block;
}
.input-controller > input {
  font-size: 1.6rem;
  outline: 1px solid #efefef;
  padding: 0.8rem 5rem 0.8rem 1rem;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.input-controller > input:read-only,
.input-controller > input:read-only:focus {
  background-color: #efefef;
  -webkit-box-shadow: 0 0 0 30px #efefef inset;
  outline: 1px solid #efefef;
  cursor: auto;
}
.input-controller > input:focus {
  outline: 1px solid #c99400;
}

.message {
  opacity: 0;
  text-align: end;
  color: #ca2626;
  min-height: 17px;
}



.invalid .input-controller > input {
  outline: 1px solid #ca2626;
}

.invalid .message{
  opacity: 1;
}