.modal{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
}

.message{
    text-align: center;
}