.input {
  position: relative;
  margin: 5px 0;
  padding: 0 1rem;
  /* padding: 0 2rem; */
}
.input > input {
  font-size: 1.6rem;
  outline: none;
  padding: 1.2rem 1rem 1.2rem 4.5rem;
  border-radius: 5px;
  background-color: rgb(48, 48, 71);
  -webkit-box-shadow: 0 0 0 30px rgb(48, 48, 71) inset;
  width: 100%;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
}

.search-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 62%;
  left: 1.8rem;
  text-align: center;

  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}
.search-icon__circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #c3c5cb;
  border-radius: 100px;
}
.search-icon__rectangle {
  position: absolute;
  right: 11px;
  bottom: 13px;
  width: 7px;
  transform: rotate(45deg);
  border: 2px solid #c3c5cb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
